@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Welcome to the Dow Jones Prediction API</p>
        <br>
        <br>
        <label>Enter Opening Price:</label>
        <br>
        <input type="text" text">
        <br>
        <br>
        <label>Enter Estimated Volume:</label>
        <br>
        <input type="text" text">
        <br>
    </div>
